<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= data.name%></title>
    
    <!-- <link rel="icon" href="favicon.ico"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Montserrat&family=Sacramento&family=Zen+Old+Mincho&display=swap" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <style>
        
body{
    text-align: center;
    margin: 0;
    font-family: 'Merriweather', serif;
    background-color: #cfe6ec;
}

hr{
    border: dotted #428bac 6px;
    border-bottom:none;
    width: 7%;
    margin: 80px auto; 
}

h1{
    width: auto;
    margin: 0 auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size:90px;
    margin: 50px auto 0  auto; 
    color:#5642ac;
    line-height: 2;
}

h2{
    font-weight: normal;
    font-family: 'montserrat', sans-serif;
    font-family: 2.5rem;
    color:#5642ac;
}

h3{
    color:#428bac;
    font-family: 'montserrat', sans-serif;
}


#para{
    font-size: 2.5 rem;
}

.image-r{
    
    border-radius: 50%;
    width: 20%;
    
}

.code-img{
    border-radius: 50%;
    width: 25%;
    float: left;
    margin-right: 30px;
}
.chill-img{

    border-radius: 50%;
    width: 25%;
    float: right;
    margin-right: 30px;

}

.skill-row{
    width:50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
    padding: 10px;

}

.bottomCloud{
    position:relative;
    bottom: 300px;
    left: 20px    
}

.topCloud{
    position: relative;
    left: 300px;
}

.mountain{
    text-align:center;
    position: relative;
    right: 50px;
}

.topContainer{
    
    background-color: #9AD0EC;
    position: relative;
    padding-top: 50px;

    
}

.into{
    width: 30%;
}

.middleContainer{

    margin: 50px auto;
    
}

.bottomContainer{

    margin: 50px auto;
    background-color: rgb(19, 185, 226);
    margin-bottom: none;
    padding: 50px;
}

.contact-me{
    margin: 50px auto;
}

.contact-msg{

    width: 30%;
    margin: 50px auto;

}

a{
    font-family: 'montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

footer-link:hower{
    color: rgb(248, 248, 248);
}


.btn {
  background: #375569;
  background-image: -webkit-linear-gradient(top, #375569, #2980b9);
  background-image: -moz-linear-gradient(top, #375569, #2980b9);
  background-image: -ms-linear-gradient(top, #375569, #2980b9);
  background-image: -o-linear-gradient(top, #375569, #2980b9);
  background-image: linear-gradient(to bottom, #375569, #2980b9);
  -webkit-border-radius: 14;
  -moz-border-radius: 14;
  border-radius: 14px;
  font-family: 'montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #8032c9;
  background-image: -webkit-linear-gradient(top, #8032c9, #a921b0);
  background-image: -moz-linear-gradient(top, #8032c9, #a921b0);
  background-image: -ms-linear-gradient(top, #8032c9, #a921b0);
  background-image: -o-linear-gradient(top, #8032c9, #a921b0);
  background-image: linear-gradient(to bottom, #8032c9, #a921b0);
  text-decoration: none;
}
    </style>

</head>
<body>

    <div class = "topContainer">
      <img class = "topCloud" src="/images/mountain/cloud.png" alt="">
      <h1 id="Name"> <%=data.name %> </h1>
      <p><h2 id="des"><%=data.desc %></h2></p>
      <img class="bottomCloud" src="/images/mountain/cloud.png" alt="">
      <img class = "mountain"src="/images/mountain/mountain.png" alt="">
  </div>

  <div  class="middleContainer">
      <div class="profile">
        <!-- <img class ="image-r" src="/images/mountain/ajay.jpg" alt="Ajay's Photo"> -->
        <h2>Hello.</h2>
        <p  class ="intro" > <%= data.intro %>  </p>
      </div>
      <hr>



      <div class="skills">
        <h2>My Skills.</h2>

        <% for(var i=0; i<data.skill.length; i++){ %>

          <div  class="skillBtn  skill-row">
            <img class="code-img" src="/images/mountain/programming.png" alt="">
            <h3 class="skill"> <%= data.skill[i]  %>  </h3>
            <p class="skillDesc"> <%= data.skilldesc[i]%> </p>
          </div>

        <% } %>        
        
        <h2>Technical Projects</h2>
        <% for(var i=0; i<data.project.length; i++){ %>
          
          <div class="skills">
          <div class=" projectBtn skill-row">
            <img class="code-img" src="/images/mountain/computer.png" alt="">
            <h3 class="project"><%= data.project[i] %>  </h3>
            <p class="projectDesc"> <%= data.projectDesc[i] %> </p>
          </div>

        <% } %>
        
      <hr>
      <div  class="contact-me">
        <h2>Get In Touch</h2>
        <!-- <h3>If you want to get a website </h3> -->
        <p id="ContactMsg"> <%= data.contact %></p>
        <a class="btn" href="mailto:<%=data.email%>">Email ME</a>
      </div>
    </div>
    
    
    <div class="bottomContainer">
       <% if(data.linkedin!=null){ %>
        <a class="footer-link" href="<%= data.linkedin%> ">LinkedIn</a>
       <% } %>

       <% if(data.github!=null){ %>
        <a class="footer-link" href="<%= data.github%> ">github</a>
       <% } %>

       <% if(data.facebook!=null){ %>
        <a class="footer-link" href="<%= data.facebook%> ">facebook</a>
       <% } %>

       <% if(data.twitter!=null){ %>
        <a class="footer-link" href="<%= data.twitter%> ">twitter</a>
       <% } %>
      
    
    </div>

</body>
</html>